body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #d2b48c;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 10px 10px 10px;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}