<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>悦听</title>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 官网提供的 axios 在线地址 -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- 样式 -->
        <link rel="stylesheet" href="player.css">
    </head>
    <body>
        <div class="wrap">
            <!-- 播放器主体区域 -->
            <div class="play_wrap" id="player">
                <!-- 搜索框 -->
                <div class="search_bar">
                    <img src="images/player_title.png" alt=""/>
                    <!-- 搜索歌曲 -->
                    <input type="text" placeholder="搜索" autocomplete="off" v-model="query" @keyup.enter="searchMusic"/>
                </div>
                <div class="center_con">
                    <!-- 搜索歌曲列表 -->
                    <div class='song_wrapper'>
                        <ul class="song_list">
                            <li v-for="item in musicList">
                                <a href="javascript:" @click="playMusic(item.id)"></a>
                                <b>{{ item.name }}</b>
                                <span>
                                    <i @click="playMV(item.mvid)" v-if="item.mvid!==0"></i>
                                </span>
                            </li>
                        </ul>
                        <img src="images/line.png" class="switch_btn" alt="">
                    </div>
                    <!-- 歌曲信息容器 -->
                    <div class="player_con" :class="{playing:isPlaying}">
                        <img src="images/player_bar.png" class="play_bar" alt=""/>
                        <!-- 黑胶碟片 -->
                        <img src="images/disc.png" class="disc autoRotate" alt=""/>
                        <!-- 封面 -->
                        <img :src="this.cover" class="cover autoRotate" alt=""/>
                    </div>
                    <!-- 评论容器 -->
                    <div class="comment_wrapper">
                        <h5 class='title'>热门留言</h5>
                        <div class='comment_list'>
                            <dl v-for="item in this.hotComments">
                                <dt><img :src="item.user.avatarUrl" alt=""></dt>
                                <dd class="name">{{ item.user.nickname }}</dd>
                                <dd class="detail">
                                    {{ item.content }}
                                </dd>
                            </dl>
                        </div>
                        <img src="images/line.png" class="right_line" alt="">
                    </div>
                </div>
                <div class="audio_con">
                    <audio ref='audio' :src="musicUrl" @play="play" @pause="pause" controls autoplay loop
                           class="myaudio"></audio>
                </div>
                <div class="video_con" :class="{video_display:isHidingMV}">
                    <video controls="controls" :src="mvUrl"></video>
                    <!-- 要控制 video 的隐藏，可以在 video 上方放置一个全屏的遮罩，点击这个遮罩隐藏 video 的父控件 -->
                    <div class="mask" @click="closeMV()"></div>
                </div>
            </div>
        </div>

        <!-- 自定义 js 文件要在最后引入 -->
        <script src="player.js"></script>
    </body>
</html>