@font-face {
    /* 这里的字体名称可以随便定义 */
    font-family: "Emblema One";
    src: url("font/EmblemaOne-Regular.woff"),
    url("font/EmblemaOne-Regular.ttf");
}

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}

h1, h2 {
    color: #cc6600;
    border-bottom: thin dotted #888888;
}

h1 {
    /**
    这里引用的是 @font-face 中的 font-family 字段值，
    并且 h1 的字体覆盖了 body 的字体
     */
    font-family: "Emblema One", "sans-serif";
    /* 这里指定字体大小为 220%，是相对于 body 字体的 220%，如果 body 字体变化，
     h1 的字体大小也会跟着变化，但始终是 body 字体的 220% */
    font-size: 220%;
}

h2 {
    font-size: 130%;
    font-weight: normal;
}