/* 所有元素的 margin 和 padding 都是 0 */
* {
    margin: 0;
    padding: 0;
}

/* html、body、mask 元素铺满页面可见宽度 */
html,
body,
#mask {
    width: 100%;
    height: 100%;
}

/* mask 设置灰底，方便凸显子元素的白底 */
#mask {
    background-color: #c9c9c9;
    position: relative;
}

#mask .center {
    position: absolute;
    /* 给 mask 中的 center 设置一个白底，配合 padding，可以看到白色边框样式 */
    background-color: #fff;
    /* left 是父元素宽度的 50% */
    left: 50%;
    /* top 是父元素高度的 50% */
    top: 50%;
    /* 向左平移自身宽度的 50%，向上平移自身高度的50% */
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* mask 中的 center 有 2 级 img，
使用 > 号选择最近一级 img */
#mask .center > img {
    /* block 可以让块元素变为行元素，如果我们想让块元素独占一行，就可以使用 block */
    display: block;
    /* span 元素使用 block 时，设置的宽高才能生效 */
    width: 700px;
    height: 458px;
}

/* mask 中的 center 中的所有 a 元素，即左右箭头 */
#mask .center a {
    width: 45px;
    height: 100px;
    position: absolute;
    /* a 的 top 距离父元素的 top 179 px */
    top: 179px;
    opacity: 0.5;
}

#mask .center a :hover {
    /* 鼠标移到左右箭头上，左右箭头透明度变为 80% */
    opacity: 0.8;
}

#mask .center .left {
    left: 15px;
    text-align: left;
    padding-right: 10px;
}

#mask .center .right {
    right: 15px;
    text-align: right;
    padding-left: 10px;
}
